---
import Layout from "../../layouts/Layout.astro";
import mantenimiento_planes from "../../components/Services/JSON-DATA/Mantenimiento/mantenimiento_planes.json";
import CardService from "../../components/Services/Card/CardService.astro";
import Contactanos from "../../components/Services/Contactanos/Contactanos.astro";
import Modal from "../../components/modal/Modal.astro";
import WhatsappButton from "../../components/Whastsapp/WhatsappButton.astro";
---

<Layout title="Mantenimiento">
  <div
    class="pt-0 sm:pt-[60px] pb-10 sm:pb-20 text-black-0 font-gabarito bg-white-0 overflow-x-hidden"
  >
    <div class="flex px-14 xl:px-28 pt-5 pb-7 md:pb-20">
      <div class="pt-10 w-full lg:w-[50%]">
        <h2 class="text-[35px] font-semibold text-blue-0 mb-2">
          Mantenimiento
        </h2>
        <p class="text-[20px] sm:text-[25px] font-semibold">
          Nos aseguramos de que tu sitio web esté siempre al día y funcionando
          de manera óptima. Implementamos las últimas mejoras de seguridad,
          nuevas funcionalidades y solucionamos cualquier problema técnico que
          pueda surgir.
        </p>
      </div>
      <div
        class="lg:w-[50%] hidden lg:flex justify-center items-center animate-decService"
      >
        <img
          src="/decoracion mantenimiento.svg"
          class="drop-shadow-lg shadow-black-0"
        />
      </div>
    </div>

    <div class="flex justify-center md:space-x-10 flex-wrap">
      {
        mantenimiento_planes.map((p) => (
          <CardService
            title={p.title}
            price={p.price}
            personalized={p.personalized}
            feature_list={p.feature_list}
          />
        ))
      }
    </div>
    <Modal />
    <Contactanos textBlack={true} />
  </div>

  <WhatsappButton />
</Layout>
